.tri-toggle-wrap {
    display:inline-block;
    margin:3px;
    position:relative;
    width: 62px;
    height:36px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    z-index:0;
}
.tri-toggle-wrap:hover {
    z-index:1;
}
.tri-toggle-wrap.vertical {
    height: 62px;
}
.tri-toggle-wrap .tri-toggle-switch {
    -webkit-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
.tri-toggle-wrap.vertical .tri-toggle-switch {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform:translate(-50%, -50%) rotate(-90deg);
}
.tri-toggle-switch {
    position:absolute;
    left:50%;
    top:50%;
    width: 56px;
    height: 30px;
    display: inline-block;
    background-color: #ddd;
    border-radius: 25px;
    -webkit-transition:background-color .25s ease;
    transition:background-color .25s ease;
    cursor:pointer;
}
.tri-toggle-switch.true {
    background-color:#68C527;
}
.tri-toggle-switch.false {
    background-color:#ff4d35;
}
.tri-toggle-false {
    position:absolute;
    left:0;
    width:50%;
    height:100%;
}
.tri-toggle-true {
    position:absolute;
    right:0;
    width:50%;
    height:100%;
}
.tri-toggle-handle {
    width:24px;
    height:24px;
    border-radius:100%;
    background-color:white;
    position:absolute;
    top:3px;
    left:16px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
}
.tri-toggle-switch.true .tri-toggle-handle {
    left:29px;
}
.tri-toggle-switch.false .tri-toggle-handle {
    left:3px;
}
.tri-toggle-tooltip {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 50%;
    -webkittransition:opacity .3s ease;
    transition:opacity .3s ease;
    transform: translate(5px, -50%) translateZ(0) scale(1.0, 1.0);
    ;
    -webkit-transform: translate(5px, -50%) translateZ(0) scale(1.0, 1.0);
    ;
    -webkit-backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    color: #CCC;
    padding: 3px 11px;
    font-size: 12px;
    border-radius: 12px;
    opacity:0;
    pointer-events:none;
}
.tri-toggle-wrap:hover .tri-toggle-tooltip {
    opacity:1;
}
.tri-toggle-tooltip:before {
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    position: absolute;
    left: -6px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content:'';
    pointer-events:none;
}
.tri-toggle-tooltip .active {
    color:white;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
}